.title
{
    color: rgb(85, 85, 85);
    font-family: "Open Sans" , "Gill Sans" , "Gill Sans MT" , sans-serif !important;
    margin: 0;
    font-size: 34px;
    text-transform: uppercase;
    text-shadow: 0 4px 0 rgba(204, 204, 204, 0.6);
}

body
{
    margin-top: 50px;
    background: url(images/chruch.png)
}

.logo 
{
    margin-bottom: 20px;
    margin-left: 10px;
}

.box_white
{
    overflow: hidden;
    background: white;
    border: 1px solid #CCC;
    padding: 20px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.27);
    margin-bottom: 30px;
}

.box_small
{
    overflow: hidden;
    background: white;
    border: 1px solid #CCC;
    padding: 20px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    margin-bottom: 30px;
}

form p .txtLabel
{
    color: rgb(118, 118, 118);
    display: inline-block;
    width: 150px;
    text-align: right;
    overflow: hidden;
    padding: 0;
    background: #E6E6E6/*{bgColorDefault}*/ url(themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png)/*{bgImgUrlDefault}*/ 50%/*{bgDefaultXPos}*/ 50%/*{bgDefaultYPos}*/ repeat-x/*{bgDefaultRepeat}*/;
    border: 1px solid #CCC;
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px; 
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
}

form p input
{
    padding: 0px;  
}

form
{
    margin-left: 50px;
    margin-top: 30px;  
}

form .error
{
    color: red;
    margin-left: 5px;
}

form .button
{
    margin-left: 330px;    
}