@{
    ViewBag.Title = "Home Page";
}
//Este script se encarga de transformar el html simple en Tabs mediante JQuery
//Para comprobar el funcionamiento sin el Jquery basta apagar este script y compilar executando para ver lo que sucede
//
<script type="text/javascript">
    $().ready(function () {

        //Reponsável por incluir o layout das tabs
        $('#tabs').tabs();
    });
</script>
<div class="grid_16">
    <h2 class="title">@ViewBag.Message</h2>
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Tecnologias Utilizadas</a></li>
            <li><a href="#tabs-2">Sobre</a></li>
            <li><a href="#tabs-3">Cadastro de Pessoa</a></li>
            <li><a href="#tabs-4">2ª Atividade</a></li>
            <li><a href="#tabs-5">3ª Atividade</a></li>
        </ul>
        <div id="tabs-1">
            <b>As tecnologias utilizadas nesse exemplo são:</b>
            <ul>
                <li>ASP.NET MVC 3</li>
                <li>JQUERY 1.7.1</li>
                <li>JQUERY UI 1.8.18(Plugin)</li>
                <li>JQUERY MASKED INPUT(Plugin)</li>
                <li>AJAX (utilizando JQUERY)</li>
                <li>Layout 960gs</li>
                <li>SQLSERVER2008</li>
                <li>ADO.NET Entity Framework 4.0</li>
                <li>CSS (básico)</li>
                <li>HTML (básico)</li>
            </ul>
        </div>
        <div id="tabs-2">
            <b>Sobre:</b>
            <p>
                Neste pequeno projeto pretendo demostrar a utilização da tecnologia MVC com as tecnologias auxiliares como
                Ajax, JQuery, CSS, Ado.Net Entity Framework e HTML<br />
                Tambem os controles ou as regras de validações em cada campo tanto no cliente como no servidor<br/>
                Esse Projeto foi desenvolvido em apenas uma página html, isso é possível porque temos
                disponível a tecnologia AJAX. Nenhum formulário irá funcionar se não configurar
                o ambiente de desenvolvimento corretamente, portanto se tenta correr o aplicativo e nao conseguir,
                identifique os erros e tente solucionalo. Os erros probavel ocurriria no Web.config, na conection string para o banco entre otros<br />
                No projeto esta incluso um script para a criação do banco de dados o arquivo MVC.edmx.sql
                Qualquer duvida por favor entre en contato no gusove@gmail.com ou no telefone 67-93081363
            </p>
            <div class="ui-state-highlight ui-corner-all">
                <p>
                    <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
                    <strong>*Dica:</strong> Utilize alguma ferramenta de depuração client-side como
                    FireBug, ou a ferramenta nativa do google chrome.
                </p>
            </div>
        </div>

        <div id="tabs-3">
            <div class="box_white">
                <h5>
                    Informe seus dados pessoais:</h5>
                <div class="box_small">
                
                    <script type="text/javascript">
                        $().ready(function () {



                            //Adição de método para validação de data. O validate padrão está validando no formato americano
                            jQuery.validator.addMethod("brasilDate",
                                function (data) {
                                    var regexData = new RegExp('^(0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[012])/[12][0-9]{3}$');
                                    return regexData.test(data);
                                },
                                "Entre com uma data válida"
                            );

                            //validação cliente do formulário
                            $('#formPessoa').validate({
                                rules: {
                                    dataNasc: { brasilDate: true }
                                }
                            });

                            //máscaras
                            $('.cpf').mask("999999999-99");
                            $('.tel').mask("(99)9999-9999");

                            //calendário jquery
                            $('.data').datepicker({ changeYear: 'true', changeMonth: 'true', yearRange: 'c-150' });

                            //Método personalizado para submeter os dados
                            var img = document.createElement('img');
                            $('#formPessoa').formSubmit({
                                reset: true,
                                url: '@Url.Action("CadastrarPessoa")',
                                beforeSend: function () {

                                    //Carrega a gif na página
                                    img.setAttribute('src', '../../Content/images/carregando.gif');
                                    $(img).css('margin-left', '10px');
                                    $('#formPessoa').append(img);
                                },
                                success: function (data) {
                                    apprise({ string: data.Mensagem });
                                    $(img).remove();
                                }
                            });

                            //Configuração do diálog
                            $("#infoPopup1").dialog({ autoOpen: false });

                            //evento click para a informação 1
                            $('#info1').click(function () {
                                $("#infoPopup1").dialog('open');
                            });
                        });
                    </script>
                    <button class="info" id="info1">
                        info</button>
                    <div id="infoPopup1" title="Info">
                        Para que esse formulario funcione ou seja registre os dados no banco, é necessario revisar a clase 
                        HomeController y a clase PessoaBLL que são os responsavel pela persistencia, mais para que esso acontesa
                        desde esse formulario, a gente fez uso do JQuery e o Ajax tanto para limpar ou seja, que os campos(dados) cumpla com 
                        os requirimentos necesarios e para o envio dos dados nas requisições correspondentes.
                        Lembrando que toda as vistas são puro HTML<br/>
                        PSD: é gente...se meu português esta errado... peço mil desculpa, e por favor sem criticar, por que pelo contrario
                        vou escreber en guaraní
                    </div>
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "formPessoa" }))
                    {
                        <p>
                            <label class="txtLabel">
                                Nome:</label>
                            <input type="text" name="nome" class="required" style="width: 400px;" />
                        </p>
                        <p>
                            <label class="txtLabel">
                                CPF:</label>
                            <input type="text" name="cpf" class="required cpf" />
                        </p>
                        <p>
                            <label class="txtLabel">
                                Telefone:</label>
                            <input type="text" name="telefone" class=" required tel" />
                        </p>
                        <p>
                            <label class="txtLabel">
                                Email:</label>
                            <input type="text" name="email" class="required email" />
                        </p>
                        <p>
                            <label class="txtLabel">
                                RG:</label>
                            <input type="text" name="rg" class="required" />
                        </p>
                        <p>
                            <label class="txtLabel">
                                Sexo:
                            </label>
                            <select name="genero">
                                <option value="M">Masculino</option>
                                <option value="F">Feminino</option>
                            </select>
                        </p>
                        <p>
                            <label class="txtLabel">
                                Nascimento:
                            </label>
                            <input type="text" name="dataNasc" class="required data" />
                        </p>
                        <input type="submit" class="button" id="button" />
                    }
                </div>
            </div>
            <div class="ui-state-highlight ui-corner-all">
                <p>
                    <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
                    <strong>*Dica:</strong> Verifique se as tabelas no banco de dados foi criada. O
                    ADO.NET Entity framework lhe permite criar as tabelas através do MODELO criado.
                </p>
            </div>
        </div>
    </div>

</div>
