@{
    ViewBag.Title = "Home Page";
}
//Este script se encarga de transformar el html simple en Tabs mediante JQuery
//Para comprobar el funcionamiento sin el Jquery basta apagar este script y compilar executando para ver lo que sucede
//
<script type="text/javascript">
    $().ready(function () {

        //Reponsável por incluir o layout das tabs
        $('#tabs').tabs();
    });
</script>
<div class="grid_16">
    <h2 class="title">@ViewBag.Message</h2>
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Tecnologias Utilizadas</a></li>
            <li><a href="#tabs-2">Sobre</a></li>
            <li><a href="#tabs-3">Cadastro de Pessoa</a></li>
            <li><a href="#tabs-4">2ª Atividade</a></li>
            <li><a href="#tabs-5">3ª Atividade</a></li>
        </ul>
        <div id="tabs-1">
            <b>As tecnologias utilizadas nesse exemplo são:</b>
            <ul>
                <li>ASP.NET MVC 3</li>
                <li>JQUERY 1.7.1</li>
                <li>JQUERY UI 1.8.18(Plugin)</li>
                <li>JQUERY MASKED INPUT(Plugin)</li>
                <li>AJAX (utilizando JQUERY)</li>
                <li>Layout 960gs</li>
                <li>SQLSERVER2008</li>
                <li>ADO.NET Entity Framework 4.0</li>
                <li>CSS (básico)</li>
                <li>HTML (básico)</li>
            </ul>
        </div>
        <div id="tabs-2">
            <b>Sobre:</b>
            <p>
                Neste pequeno projeto pretendo demostrar a utilização da tecnologia MVC com as tecnologias auxiliares como
                Ajax, JQuery, CSS, Ado.Net Entity Framework e HTML<br />
                Tambem os controles ou as regras de validações em cada campo tanto no cliente como no servidor<br/>
                Esse Projeto foi desenvolvido em apenas uma página html, isso é possível porque temos
                disponível a tecnologia AJAX. Nenhum formulário irá funcionar se não configurar
                o ambiente de desenvolvimento corretamente, portanto se tenta correr o aplicativo e nao conseguir,
                identifique os erros e tente solucionalo. Os erros probavel ocurriria no Web.config, na conection string para o banco entre otros<br />
                No projeto esta incluso um script para a criação do banco de dados o arquivo MVC.edmx.sql
                Qualquer duvida por favor entre en contato no gusove@gmail.com ou no telefone 67-93081363
            </p>
            <div class="ui-state-highlight ui-corner-all">
                <p>
                    <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
                    <strong>*Dica:</strong> Utilize alguma ferramenta de depuração client-side como
                    FireBug, ou a ferramenta nativa do google chrome.
                </p>
            </div>
        </div>


    </div>

</div>
